# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc

# Env & secrets
.env
.env.*
.envrc
.env.local
.env.backend*
.env.backend-*

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
terraform.tfvars
terraform.tfvars.json
terraform_backup/
**/terraform_backup/*

# macOS
.DS_Store

# Coverage/build
coverage/
build/
dist/
